doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="renderer", content="webkit")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    title= title
    //- inject:css
    link(rel="stylesheet", href="/css/admin_e7e18d7b2848d2e12a2f733778ed87f2.css")
    link(rel="stylesheet", href="/css/font-awesome_e260688f9ecfb503c2c95ea23cc6ba60.css")
    link(rel="stylesheet", href="/css/font_1479ab280f8e3f241ac65ef47ed309e4.css")
    link(rel="stylesheet", href="/css/style_3b1ff5ad93c705467f3a374a91453c83.css")
    link(rel="stylesheet", href="/css/medium-editor/default_eba20d4f647fd0750472dd32d4570573.css")
    link(rel="stylesheet", href="/css/medium-editor/medium-editor_97ced2306521e10626e37c4e5ee3918d.css")
    //- endinject
    
    //- inject:js
    script(src="/js/jquery-3.2.1_be1bac2e55e8c79fe4aa515a509ad2e8.js")
    script(src="/js/admin_f371b5eea5ae4d1d5267799f08382c1c.js")
    script(src="/js/common_f28425473947b350f0f03a97adc08b4f.js")
    script(src="/js/medium-editor/medium-editor_e872335c3b9c98573a39d550a65d04cc.js")
    //- endinject
  body
    header.header
      section.header-section
        a.logo(href="/")
        nav.header-nav
          a.nav-item(href="/") 首页
          a.nav-item(href="/blog") 博客
          a.nav-item(href="/blog/tag") 标签
          a.nav-item(href="/blog/archive") 存档
          a.nav-item(href="/about") 关于
