include ../header

style.
  .manager-area {
    margin: 40px auto;
  }
  .post-list {
    margin-bottom: 20px;
  }
  .section {
    width: 800px;
    margin: auto;
  }
  .page-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .admin-button-l1 {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #09D0B2;
    border-radius: 2px;
    color: #09D0B2;
  }
  .admin-delete-post {
    margin-left: 20px;
    cursor: pointer;
  }
  .post-item {
    padding: 8px 0;
  }
  .tag-item {
    padding: 6px 0;
  }

section.section
  h1.page-title this is admin index page

section.section
  a.admin-button-l1(href="post/create") write article

  .manager-area
    h3 all posts
    .post-list
      each postItem in posts
        .post-item
          a(href="/admin/post/edit/#{postItem._id}")= postItem.title
          span.admin-delete-post(data-id="#{postItem._id}") 删除

  .manager-area
    h3 all tags
    .tag-list
      each tagItem in tags
        .tag-item
          a(href="/blog/tag/#{tagItem.tagName}")= tagItem.tagName
script.
  $('.admin-delete-post').on('click', function(){
    var $this = $(this);
    var _id = $this.data('id');
    $.ajax({
      url: '/api/post/'+ _id,
      type: 'DELETE',
      headers: {
        'X-Token': ''
      }
    })
    .done(function(data) {
      if (data.code == 10001) {
        $this.parents('.post-item').remove();
      } else {
        alert(data.message);
      }
    })
    .fail(function(error) {
      alert( "error" );
    })
  });

include ../footer
