include ../header

main.wrapper.login-wrapper
  h1 login
  p &nbsp;
  form(method="post")
    p
      input(name="name", placeholder="name")
    p
      input(type="password", name="password", placeholder="password")
    p
      input(type="submit")

script.
  

include ../footer
