module.exports = {
  port: 3000,
  session: {
    secret: 'your secret',
    key: 'you key',
    maxAge: 3600 * 24
  },
  mongodb: {
    database: 'mongodb://address:port/database',
    options: {
      
    }
  },
  redis: {
    auth: 'your auth',
    port: 'your port',
    address: 'your redis IP address'
  },
  login: {
    available: true
  },
  uploadDir: './public/upload/',
  defalutAdmin: {
    userName: 'your user name',
    nickName: 'your nick name',
    password: 'your password',
    email: 'your email,
    avatar: '',
  },
  admin: {
    available: true,
    robotsAccess: false,
  },
  site: {
    siteName: 'your site name',
  },
  i18n: {
    languages: [
      'zh',
      'zh-CN',
      'zh-Hant',
      'en',
    ],
    ignoreI18nPath: [
      '/admin',
      '/api',
    ],
  },
  jwt: {
    secret: 'your jwt secret',
    expire: 3600,
  },
}
