.admin-button-l1 {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  border: 1px solid #09D0B2;
  border-radius: 2px;
  color: #09D0B2;
  cursor: pointer; }

.admin-delete-post {
  visibility: hidden;
  margin-left: 20px;
  cursor: pointer; }
