include ../header

main.wrapper
  h1 #{title}
  p !{content}

  ul
    each tagItem in tags
      li.post-item
        a(href="#{langPath}/blog/tag/#{tagItem.tagName}")= tagItem.tagName

include ../footer