// color
$green: #09D0B2;

// break point
$break-small: 360px;
$break-medium: 768px;
$break-large: 960px;
$break-cover-img-large: 840px;
$break-article-medium: 740px;

@mixin screen ($breakPoint) {
  @if $breakPoint == small {
    @media screen and (max-width: $break-small) { @content; }
  }
  @if $breakPoint == medium {
    @media screen and (max-width: $break-medium) { @content; }
  }
  @if $breakPoint == large {
    @media screen and (max-width: $break-large) { @content; }
  }
  @if $breakPoint == coverMedium {
    @media screen and (max-width: $break-cover-img-large) { @content; }
  }
  @if $breakPoint == articleMedium {
    @media screen and (max-width: $break-article-medium) { @content; }
  }
}


@import "normalize.scss";

*, :after, :before{
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px -apple-system, BlinkMacSystemFont, Lato, "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 14px Lato, "Open Sans", sans-serif;
  color: #333;
}
ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}
a:hover {
  color: $green;
}
a:active {
  color: $green;
}
a:visited {
}

/* base */
.wrapper {
  max-width: 960px;
  margin: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}


/*
 * green colors #3bb1a0 #51d8c5 #22c3aa #00ad93 #00d1b2 #51d8c5
 * nav text hover #09D0B2
 */

/* header */
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #f6f6f6;
}
.header-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}
.header-section .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 71px;
  align-items: center;
  text-align: center;
  background: url(../img/logo.png) no-repeat center center / 71px 16px;
}
.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 48px;
}
.header-nav .nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid transparent;
}
.header-nav .nav-item:hover {
  color: $green;
  border-bottom-color: #00d1b2;
}

/* footer */
.footer {
  padding: 40px 0 20px;
  text-align: center;
}
.footer p {
  margin: 4px auto;
  color: #888;
}


/* index */
.index-title {
  text-align: center;
}
.index-main {
  width: 960px;
  margin: auto;
  display: flex;

  @include screen(large) {
    width: 100%;
  }
  @include screen(medium) {
    flex-wrap: wrap;
  }
}
  
.index-postlist {
  flex: 1;
  padding-right: 20px;
}

.index-post-title {
  margin-bottom: 10px;
}
.index-aside {
  width: 220px;
  padding: 10px;

  @include screen(medium) {
    width: 100%;
  }
}
.index-postlist-footer {
  overflow: hidden;
  margin: 20px auto;
}
.post-item {
  border-bottom: 1px solid #eee;
}
.post-page-btn {
  display: block;
  width: 120px;
  height: 48px;
  border: 1px solid #eee;
  line-height: 48px;
  text-align: center;
}
.post-page-btn:hover {
  border: 1px solid $green;
  color: $green;
}

/* login */
.login-wrapper {
  text-align: center;
}

/* post */
.post-wrapper {
  margin: auto;
}
.post-cover {
  width: 840px;
  margin: 40px auto;

  @include screen (coverMedium) {
    width: 100%;
  }
}
.post-cover-img {
  display: block;
  width: 100%;
}
.post-article {
  width: 740px;
  margin: auto;
  padding: 20px;

  @include screen (articleMedium) {
    width: 100%;
  }
}

  







